@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.list {
  margin-bottom: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 20px 0;
  gap: 15px;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  @include for-tablet-portrait-only {
    grid-template-columns: 1fr;  
  }
 
  
  &::-webkit-scrollbar {
    width: 0;
  }
}